/* color reference: http://www.hitmill.com/html/pastels.html 
                    http://www.computerhope.com/htmcolor.htm */
a.anchor {color:black; 
            text-decoration:none}

/* table styles */
table thead { border-top: 2px solid #000; }
table tbody { border-top: 1px solid #000; 
border-bottom: 2px solid #000; 
}

/* definition style */
div.definition {
    margin-left:2cm;
    padding-left:.5cm;
    border-left: thick solid #23819C;
    background:#A5DBEB;
  }

/* example style */
div.example {
    margin-left:2cm;
    padding-left:.5cm;
    border-left: 2px solid #4CC417;
    border-bottom: 2px solid #4CC417;
    background:#C3FDB8;
    border-bottom-left-radius: 15px;
  }

/* exercise style */
div.exercise {
    margin-left:2cm;
    padding-left:.5cm;
    padding-top:.1cm;
    padding-bottom:.1cm;
    border: thick solid #BF00BF;
    background:#DD75DD;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
  }
 
/* figure style */
div.figure {
    border:solid 5px #FDD017; 
    background: #EDE275; /* harvest gold, gold border--showMeAnother style :) */
    text-align:center; 
    padding:30px;
    border-radius: 15px;
    width:50%;
    align:center;
  }
