._*
xsl/precalc-latex-paths.xsl
xsl/precalc-html-paths.xsl
src/images/
src/chapter*.tex
*.tcp
*.php
*.out
#webstuff
localSettings.yaml
ideas.*
overview.*
# doccover.*
graph.*
shortsolutions*
longsolutions*
*.log
*.aux
*.mtc*
*.thm
*.prb
*.toc
*.idx
*.maf
*.pdf
*.bak
*.html
myfile.*
knowl
